@import url('root.css');

.movies_categories-div{
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: var(--main-white);
    background-color: var(--main-light-black);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.movies_categories-head{
    display: flex;
    align-items: center;
}

.categorie-btn-menu{
    display: none;
    border-radius: 6px;
    outline: none;
    border:none;
    background: none;
}

.categories__list{
    display: flex;
    height: auto;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 20px;
}

.categories__list li{
    list-style: none;
}
.categories__list li a{
    text-decoration: none;
    color: var(--main-white);
    transition: color 0.3s ease-in-out;
}
.categories__list li a:hover{
    text-decoration: none;
    color: var(--second-purple);
}

@media (max-width: 960px) {
    .movies_categories-div{
        padding-left: 5rem;
    }
    .movies_categories-head{
        justify-content: space-between;
     }
     .movies_categories-head h3{
        font-size: 1.5rem;
     }
    .categorie-btn-menu{
        display: block;
    }
    .categories__list{
        gap: 1rem;
    }

    .categories__list li a{
        font-size: 1.2rem;
    }

    .menu_categories-div{
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }
    
    .menu_categories-open{
        height: auto;
    }
    .menu_categories-close{
        height: 0px;
    }
}