@import url('root.css');

.grid-container{
    width: 100%;
    padding-top: 7rem;
    display: flex;
    margin: auto;
    justify-content: center;
}

.pages__movies {
    width: 100%;
    height: auto;
    padding-top: 100px;
    display: flex;
}

.page__moives-movies{
    width: 85%;
}

.page__movies-categories{
    width: 15%;
}



@media (max-width: 960px) {
    .pages__movies{
       flex-direction: column-reverse;
       align-items: center;
       gap: 20px;
    }
    .page__moives-movies{
        width: 100%;
    }
    
    .page__movies-categories{
        width: 100%;
        height: auto;
    }
}
