.signUp {
    height: 100vh;
    padding-top: 60px;
    /*background: red;*/
}

.ingresar__container {
    background: blue;
    width: min(100%,850px);
    height: 60vh;
    margin: 80px auto;
    /*display: flex;*/
}

.container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container.login {
    background:greenyellow;
}
.container.signup {
    background: burlywood;
}
.title {
    color: var(--main-white);
    font-size: 2rem;
}
.inputBox {
    display: flex;
    width: 90%;
}

.icon {
    color: var(--main-white);
}