.btn {
    background-color: var(--second-purple);
    color: var(--main-white);
    font-size: 1.5rem;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    margin: 20px;
    border-radius: var(--radius);
    cursor: pointer;
}

.btn:hover {
    color: var(--second-purple);
    background: var(--main-white);
    font-weight: bold;
}

