:root {
    /* colors */
    --main-white: #fff;
    --main-black:  #000;
    --secondary-color:  #5B2C6F;
    --blur: hsla(0, 0%, 100%, 0.03);
    --blur-small: hsla(0, 10%, 74%, 0.379);

    /*size */
    --size-iconNavBar: 26;

    --radius: 45px;
}



